<% layout('layouts/boilerplate') %>
   
    <div>
      <h2><%=campground.title%></h2>
      <p><%=campground.location%></p>

    </div>

    <footer>
        <P>
        <a href="/campgrounds/<%=campground._id%>/edit">edit</a>
    </P>
    <p>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>delete</button>
        </p>
        <p>

        <a href="/campgrounds">back</a>
    </p>

    </footer>
   